./memory-bank
./cache
./embeddings.pkl
./metadata.pkl
./urls_index.pkl
./reverse_archive_search.log
./messageExample.json
memory-bank/activeContext.md
memory-bank/productContext.md
memory-bank/progress.md
memory-bank/projectbrief.md
memory-bank/systemPatterns.md
memory-bank/techContext.md
